/* Gallery.module.css */

.galleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .galleryGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .imageWrapper {
    position: relative;
    cursor: pointer;
    width: calc(33.33% - 20px); /* 3 images per row */
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .image:hover {
    transform: scale(1.05);
  }
  
  .iconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .icon {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px; /* Increase padding for larger size */
    font-size: 2.5rem; /* Increase font size */
    transition: background-color 0.3s;
  }
  
  .icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }
  
  .closeButton,
  .nextButton,
  .prevButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .closeButton {
    top: 20px;
    right: 20px;
  }
  
  .nextButton {
    right: 20px;
  }
  
  .prevButton {
    left: 20px;
  }
  
  .expandedImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .imageWrapper {
      width: calc(50% - 20px); /* 2 images per row */
    }
  }
  
  @media (max-width: 480px) {
    .imageWrapper {
      width: calc(100% - 20px); /* 1 image per row */
    }
  
    .closeButton,
    .nextButton,
    .prevButton {
      font-size: 1.5rem;
    }
  }
  